@import "src/_variables";

.header-wrapper {
	height: 80px;
	background-color: lighten($primary-color, 10%);
	margin-bottom: 80px;

	@media screen and (max-width: 767px) {
		height: 100%;
		margin-bottom: 40px;

		.center-mobile {
			text-align: center;
		}
	}
}

.header-img {
	height: 130px;
	border: 5px solid #fff;
	border-radius: 50%;
	position: relative;
	top: 15px;
}

.header-text {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	top: 40px;
	margin-left: -15px;

	@media screen and (max-width: 991px) {
		top: 47px;
	}

	@media screen and (max-width: 767px) {
		margin-left: 0;
		text-align: center;
		top: 34px;
	}

	.header-name {
		color: #fff;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 5px;
		max-width: 960px;
		white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;

	  @media screen and (max-width: 1199px) {
	  	max-width: 793px;
	  }

	  @media screen and (max-width: 991px) {
	  	max-width: 550px;
	  	font-size: 28px;
	  }

	  @media screen and (max-width: 767px) {
	  	max-width: 100%;
	  	white-space: initial;
	  	overflow: auto;

	  	span {
	  		display: inline-block;
	  	}
	  }
	}

	.header-company {
		color: $grey-dark;
		text-transform: uppercase;
		margin-top: 0px;

		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}
}

.show-btn {
	color: $primary-color-dark;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	font-family: $primary-font;
	border: 0;
	margin-bottom: 10px;

	&:hover{
		color: $primary-color;
	}
}

.panel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	font-family: $primary-font;
	margin-bottom: 30px;

	@media screen and (max-width: 767px) {
		margin-bottom: 15px;
	}
}

.panel-default .panel-heading {
	background-color: #fff;
	color: $grey-dark;
	border: 0;
	min-height: 130px;
	border: 4px solid;
	border-radius: 6px;
	padding: 0;
	position: relative;
}

.panel-heading {

	h4{
		font-size: 28px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0;
	}

	&:hover{
		background-color: lighten($primary-color, 40%);
		cursor: pointer;
		color: darken($grey-dark, 10%);

		a {
			cursor: pointer;
			text-decoration: none;
		}

		.task-count {
			background-color: $primary-color;
		}
	}
}

.panel-collapse {
	margin-bottom: 55px;
}

.milestone-title {
	display: inline-block;
	width: 222px;
	padding: 10px;
	position: absolute;
	bottom: 0;
}

.task-count {
	display: inline-block;
	background-color: lighten($primary-color, 10%);
	color: #fff;
	border-radius: 0 2px 2px 0;
	float: right;
	text-align: center;
	width: 130px;
	height: 122px;

	h4 {
		padding: 10px 15px;
		position: absolute;
		bottom: 0;
		right: 0;	
	}

	@media screen and (min-width: 768px) and (max-width: 991px) {
		width: 116px;
	}
}

@media screen and (max-width: 414px) {

	.panel-default .panel-heading {
		min-height: 90px;

		h4 {
			font-size: 20px;
		}
	}

	.task-count {
		height: 82px;
		width: 86px;
	}
}

@media screen and (max-width: 320px) {
	.task-count {
		width: 75px;
	}
}
	
.list-group {
	padding-top: 5px;
	border-left: 4px solid $grey-dark;
	margin-left: 23px;
}

.list-badge {
	position: absolute;
	top: 16px;
	left: -37px;
	color: $primary-color-dark;
	background-color: #fff;
	width: 30px; 
	height: 30px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 0 5px $grey-dark;

	i{
		line-height: 30px;
	}
}

.list-badge.completed {
	background-color: $primary-color;
	color: #fff;
	box-shadow: 0 0 0 5px $primary-color-dark;
}

.list-group-item, button.list-group-item, .list-group-item:focus, button.list-group-item:focus {
	background-color: transparent;
	margin-left: 20px;
	border: 0;

	h4 {
		color: $grey-dark;
		margin-top: 14px;
		font-weight: 600;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	&:hover{
		background-color: transparent;
		color: $primary-color-dark;
		cursor: pointer;

		.list-badge {
			box-shadow: 0 0 0 5px $primary-color-dark;
		}

		h3 {
			color: $primary-color-dark;
		}
	}
}

.btn-close-x {
	position: absolute;
	right: -75px;
	background-color: transparent;
	color: #fff;
	right: -45px;

	&:hover{
		cursor: pointer;
		color: $primary-color-dark;
	}
}

.modal-header {
	background: lighten($primary-color, 10%);
	color: #fff;
	border-radius: 5px 5px 0 0;
}

.modal-title {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;

	i {
		font-size: 1.5em;
	}
}

.modal-body {
	color: darken($grey-dark, 10%);

	h3 {
		margin-top: 10px;
		text-transform: uppercase;
	}

	.owner-name{
		margin-top: 20px;
		margin-bottom: 0;
	}
}