@import "_variables.scss";

.panel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	font-family: $primary-font;
}

.panel-default .panel-heading {
	background-color: #fff;
	color: $primary-color-dark;
	border: 0;
	border-radius: 0;
	padding: 40px;
	min-height: 167px;
	border: 2px solid;
	border-bottom: 15px solid;
	border-radius: 6px;
}

.panel-heading {

	a:hover {
		cursor: pointer;
	}

	h4 {
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 600;
	}
}

ul {
	
	&.list-group {
		padding-top: 25px;
		border-left: 4px solid $primary-color-dark;
		margin-left: 23px;
	}
}

ul.list-group:before {
/*	top: 0px;
  bottom: 70px;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #3f75e7;
  left: 39px;
  margin-left: -1.5px;
  margin-top: 150px;*/
}

.list-badge {
	position: absolute;
	top: 16px;
	left: -72px;
	margin-left: 0;
	color: $primary-color-dark;
	background-color: #fff;
	display: block;
	width: 40px; 
	height: 40px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 0 5px $primary-color-dark;
	line-height: 40px;
	float: left;

	i{
		line-height: 40px;
	}
}

.list-group-item {
	background-color: transparent;
	margin-left: 50px;
	border: 0;
}

.list-content {

	h3 {
		color: $primary-color-dark;
		margin-top: 14px;
		font-weight: 600;
	}
}