@import "src/_variables";

.panel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	font-family: $primary-font;
}

.panel-default .panel-heading {
	background-color: #fff;
	color: $grey-dark;
	border: 0;
	border-radius: 0;
	padding: 40px;
	min-height: 167px;
	border: 2px solid;
	border-bottom: 15px solid;
	border-radius: 6px;
}

.panel-heading {

	a:hover {
		cursor: pointer;
	}

	h4 {
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 600;
	}
}
	
.list-group {
	padding-top: 25px;
	border-left: 4px solid $grey-dark;
	margin-left: 23px;
}

.list-badge {
	position: absolute;
	top: 16px;
	left: -72px;
	color: $primary-color-dark;
	background-color: #fff;
	width: 40px; 
	height: 40px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 0 5px $grey-dark;

	i{
		line-height: 40px;
	}
}

.list-badge.completed {
	background-color: $primary-color;
	color: #fff;
	box-shadow: 0 0 0 5px $primary-color-dark;
}

.list-group-item {
	background-color: transparent;
	margin-left: 50px;
	border: 0;
}

.list-content {

	h3 {
		color: $grey-dark;
		margin-top: 14px;
		font-weight: 600;
	}
}