@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$primary-font: 'Open Sans', sans-serif;

$primary-color: #3f75e7;
$primary-color-dark: #2455ba;

$grey-dark: #5a5a5a;
$grey-light: #fafafa;