@import "src/_variables";

.navbar-default {
	font-size: 16px;
	font-family: $primary-font;
	padding: 5px 20px;
	background-color: #fff;
	border: 0;
	border-bottom: 3px solid $primary-color;
	margin-bottom: 0;

	.navbar-nav {

		li a {
			color: $grey-dark;
			text-transform: uppercase;

			&:hover {
				color: $primary-color-dark;
			}
		}
	}

}

.navbar-brand {
	padding: 4px 15px;

	img {
		height: 42px;
	}
}